# Production server configuration
# Nitro uses these variables to define the server address and port
PORT=3000
HOST=0.0.0.0
PROMPTPAY_ID=000-000-0000
DATABASE_URL=file:/app/data/badminton.db

# Optional: Set the base URL for the application
# NUXT_PUBLIC_SITE_URL=https://yourdomain.